.table{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 18px;
}
.title{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size:29px;
    font-family: system-ui;

    padding: 25px;
}
thead{
    background-color: rgb(135, 178, 241);
    font-weight: bolder;
    font-family: system-ui;
    font-size:medium;
}

.tabla-lineas{
    padding: 80px;
    border: 50px;

}
/* .editbutton{
    margin-left: auto;
    display: flex;
  
} */

.tabla-lineas .editfield{
    width: 15px;
}
